name: test v0.2
run-name: ${{ github.workflow }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:


jobs:

  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [windows-latest]

    runs-on: ${{ matrix.os }}
    steps:


      - name: shell-x@v0.2
        id: v2
        uses: milankomaj/shell-x@v0.2
        with:
          shell: pwsh
          locale: sk_SK
          timezone: Central Europe Standard Time
          comand: Get-TimeZone && Get-Date -UFormat '%A %d/%m/%Y %R %Z'
          


      - name: inputs-outputs
        run: echo "::notice::${{ steps.v2.outputs.inputs-outputs }}"



      - name: comand-outputs
        run: ${{ steps.v2.outputs.comand-outputs }}
