name: test v0.2
run-name: ${{ github.workflow }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:


jobs:

  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: shell-x@v0.2
        id: v2
        uses: milankomaj/shell-x@v0.2
        with:
          shell: bash
          locale: sk_SK.UTF-8
          timezone: Europe/Bratislava
          comand: date && date +'%s%N' && sudo languagesetup -langspec "Slovenčina" && exit



      - name: inputs-outputs
        run: echo ${{ steps.v2.outputs.inputs-outputs }}

      - name: comand-outputs
        run: ${{ steps.v2.outputs.comand-outputs }}

      - name: comand
        run: date && sudo softwareupdate -i -r