name: test v0.3
run-name: ${{ github.workflow }} ✅ ${{ github.ref }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:
  push:
    branches:
      - 'testv3'
    paths:
      - ".github/workflows/testv3.yaml"
jobs:
  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: test-v3
      - name: shell-x@v0.3
        id: v3
        uses: milankomaj/shell-x@test-v3
        with:
          shell: bash
          locale: sk_SK.UTF-8
          timezone: Europe/Bratislava
          comand: date && sudo systemsetup -gettimezone && echo ${{ matrix.os }}

      - run: |
         date
         sudo systemsetup -gettimezone
         sudo systemsetup -getusingnetworktime
         sudo systemsetup -getnetworktimeserver
