name: test v0.2
run-name: ${{ github.workflow }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:


jobs:

  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: shell-x@v0.2
        id: v2
        uses: milankomaj/shell-x@v0.2
        with:
          shell: pwsh
          locale: sk_SK
          timezone: Central Europe Standard Time
          comand: $(echo "Get-Date -UFormat '%Y%m%d' && Get-Date -Format F")


      - name: inputs-outputs
        run: echo ${{ steps.v2.outputs.inputs-outputs }}

      - name: comand-outputs
        run: echo $(echo $(${{ steps.foo.outputs.comand-outputs }}))
        shell: pwsh
