name: test v0.3
run-name: ${{ github.workflow }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:
  push:
    branches:
      - 'testv3'
    paths:
      - ".github/workflows/testv3.yaml"
jobs:
  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: shell-x@v0.3
        id: v3
        uses: milankomaj/shell-x@v0.3
        with:
          shell: bash
          locale: sk_SK.utf8
          timezone: Europe/Bratislava
          comand: date && timedatectl && sudo timedatectl set-local-rtc 1 && timedatectl
          
      - uses: actions/checkout@v4   
      - run: |
         gh api repos/milankomaj/shell-x/branches --jq '.[].name' | xargs -P 0 -L 5 {} gh workflow run testv3.yml --ref \{\}
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            
