name: test
run-name: ${{ github.workflow }} ✅ ${{ github.actor }} ✅ ${{ github.event_name}}
on:
  workflow_dispatch:


jobs:

  Shell:
    name: Shell
    continue-on-error: false
    strategy:
      max-parallel: 3
      matrix:
       os: [windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: Get-Date -Format F; Get-Date -UFormat "%Y%m%d"
        shell: powershell

      - id: foo
        uses: milankomaj/shell-x@v0.1
        with:
          who-to-greet: ${{ github.actor }}
          neofetch: false
          shell: pwsh
          locale: sk_SK
          timezone: Central Europe Standard Time
          comand: $(echo "Get-Date -UFormat "%Y%m%d" && Get-Date -Format F")

      - run: echo ${{ steps.foo.outputs.random-number }}
        shell: powershell

      - run: echo ${{ steps.foo.outputs.inputs-outputs }}
        shell: powershell

      - run: ${{ steps.foo.outputs.comand-outputs }}
        shell: pwsh

      - run: |
         echo "::notice::$(echo $(${{ steps.foo.outputs.comand-outputs }}))"
         ${{ steps.foo.outputs.comand-outputs }}
        shell: pwsh